@import url('https://fonts.googleapis.com/css2?family=Alatsi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100&display=swap');
*, *::before, *::after{
    box-sizing: border-box;
    user-select: none;
    -webkit-user-drag: none;
}

body, html, h3, h4, form{
    margin: 0px;
    padding: 0px;
    font-family: 'Alatsi', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
}

.top-header{
    background-color: #FFEFFD;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.header-logo{
    position: absolute;
    top: 17px;
    left: 5%;
    height: 6rem;
    width: 25rem;
    background-image: url('logo_2.png');
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    transition: 300ms ease-in-out;
}

.header-logo:hover{
    transform: scale(1.05);
}

.header-navigation{
    height: 3.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 20%;
    transition: 300ms ease-in-out;
}

.search-input, .email-subscription-input{
    width: 15rem;
    font-family: 'Alegreya Sans', sans-serif;
    border: none;
    outline: none;
    border-radius: 6px;
    padding: 5px;
    font-size: 18px;
    transition: box-shadow 100ms ease-in-out;
}

.search-input:hover, .email-subscription-input:hover{
    box-shadow: 0px 0px 10px -2px rgba(121, 155, 194, 0.72);
}

.search-input:focus, .email-subscription-input:focus{
    box-shadow: 0px 0px 10px -2px rgba(85, 23, 23, 0.72);
}

.header-nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding:0px;
}

.header-nav li{
    margin-left: 2rem;
    font-size: 24px;
    color: #272626;
    cursor: pointer;
}

.header-nav li:hover{
    color: #FFB5A5;
}

.container{
    padding-top: 2rem;
    height: auto;
    width: 70rem;
    margin:auto;
}

.top-trending {
    margin-top: 2rem;
    height: 26rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.top-trending-bottom{
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0) , rgba(255, 0, 0, 0) , rgba(255, 131, 179, 0.158));
    opacity: 0;
    transition: opacity 300ms ease-in-out;
}

.top-trending-bottom.hover{
    opacity: 1;
}

.top-trending .trending-item{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    width: 50%;
}
.feature-block{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    cursor: pointer;
}

.top-trending-img{
    background-image: url('top-trending-img.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 83.5%;
    margin: auto;
    height: 0;
    padding-top: 70%;
}

.trending-text{
    display: flex;
    flex-direction: column;
}

.top-trending-recipe-text{
    color: black;
    background-color: #FFB5A5;
    padding: 0px 10px;
    font-family: Alatsi;
    font-size: 72px;
    position: relative;
}

.top-trending{
    cursor:pointer;
}

.trending-item{
    transition: transform 300ms ease-in-out;
}

.trending-item:nth-child(1){
    transform: translateX(20%);
}

.trending-item:nth-child(2){
    transform: translateX(-20%);
}

.trending-item:nth-child(1).hover{
    transform: translateX(0%);
}

.trending-item:nth-child(2).hover{
    transform: translateX(0%);
}

.top-trending-recipe-text:first-child::before{
    font-family: 'Alegreya Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    position: absolute;
    left: 50%;
    top: -1.5em;
    content: 'Top trending now';
    transform: translateX(-50%);
}

.entries{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2rem;
    row-gap: 0.5rem;
}

.recipe-picture-container{
    width: 256px;
    height: 246px;
    cursor: pointer;
    position: relative;
}

.recipe-picture{
    width: 100%;
    height: 100%;
}

.recipe-picture-container::before{
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    background-color: rgba(7, 7, 7, 0.466);
    opacity: 0;
    transition: opacity 300ms ease-in-out;
}

.recipe-picture-container::after{
    width: 100%;
    word-wrap: break-word;
    text-align: center;
    font-family: 'Alegreya Sans', sans-serif;
    top: 50%;
    left: 50%;
    font-size: 24px;
    transform: translateX(-50%);
    content: attr(data-recipe);
    position: absolute;
    color: white;
    opacity: 0;
    transition: opacity 300ms ease-in-out;
}
.recipe-picture-container:hover::before{
    opacity: 1;
}

.recipe-picture-container:hover::after{
    opacity: 1;
}

.entry-section-title{
    grid-column: 1 / -1;
    margin-left: 3rem;
    margin-top: 2rem;
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: bold;
    font-size: 24px;
}

.entry-section-title span{
    cursor: pointer;
}

.entry-section-title span:hover{
    color: #ff9e89;
}

.more-button-division{
    display: flex;
    justify-content: center;
    align-items: center;
}

.more-button, .sign-up-btn{
    font-family: 'Alegreya Sans', sans-serif;
    background: #FFB5A5;
    border-radius: 7px;
    color: white;
    border: none;
    outline: none;
    font-weight: bold;
    font-size: 24px;
    cursor: pointer;
    transition: 200ms ease-in-out;
}

.more-button:hover, .sign-up-btn:hover{
    background: #ff8469;
    color: rgb(56, 56, 56);
}

.more-button{
    height: 3rem;
    margin: 3rem 0px;
}

.sign-up-btn{
    padding: 0px 0.5rem;
    margin: 1rem 5px;
}

.extra-features{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: auto;
    width: 100%;
}

.feature-block{
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
    width: 100%;
    height: 25rem;
    position: relative;
    justify-content: flex-end;
    align-items:flex-end;
    background: rgba(255, 255, 255, 0);
    transition: 200ms ease-in-out;
}

.feature-block.hover{
    background: rgba(0, 0, 0, 0.637);
}

.feature-text-wrapper{
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    padding-right: 1rem;
    position: absolute;
    top:50%;
}

.feature-block:nth-child(1){
    background-image: url(extra-1.png);
}

.feature-block:nth-child(2){
    background-image: url(extra-2.png);
}

.feature-block:nth-child(3){
    background-image: url(extra-3.png);
}

.feature-text{
    color: black;
    background-color: #FFB5A5;
    font-family: Alatsi;
    font-size: 60px;
    padding: 0px 10px;
    transition: 200ms ease-in-out;
}

.blue .feature-text{
    background-color: #A5FFE4;
}

.yellow .feature-text{
    background-color: #FDFFA5;
}

.feature-text.hover{
    transform: translateY(-1rem);
    color: rgb(255, 255, 255);
    background-color: #2e2e2e;
}

.email-subscription{
    background-color: #FFEFFD;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0px;
}

.email-subscription h3{
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: bold;
    font-size: 48px;
}

.email-subscription div{
    font-family: 'Alegreya Sans', sans-serif;
    font-style: normal;
    font-size: 24px;
}

.bottom-footer{
    background-color: #655F64;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 2rem;
}

.footer-logo{
    height: 10rem;
    width: auto;
    margin-left: 2rem;
    cursor: pointer;
}
.footer-info{
    width: 100%;
    display: flex;
    justify-content:space-between;
}

.footer-menu{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 2rem;
    font-family: 'Alegreya Sans', sans-serif;
    font-style: normal;
    font-size: 1.5em;
}

.footer-menu-element{
    cursor: pointer;
}

.footer-menu-element:hover{
    color: rgb(221, 221, 221);
}

.footer-menu-element.bold{
    font-weight: 800;
}

.contact-info p{
    text-align: center;
    font-size: 36px;
    margin: 0px;
}

.footer-icon{
    margin: 0px 1.5rem;
    cursor: pointer;
    transition: 200ms ease-in-out;
}

.footer-icon:hover{
    transform: scale(1.1);
}

@media (max-width: 1435px) {

    .extra-features{
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
    }
    .feature-block{
        height: 13em;
        background-size:cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .feature-block:hover{
        background-size:cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .feature-text-wrapper{
        top:2rem;
    }

  }


  @media (max-width: 1300px) {

    .header-navigation{
        height: 3.5rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-right: 1em;
    }

    .header-logo{
        top: .3rem;
        left: 1rem;
        height: 3rem;
        width: 12rem;
    }

  }

  @media (max-width: 450px) {

    .top-header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header-logo{
        margin-top: 1rem;
        position:initial;
        width: 12rem;
        background-image: url('logo_2.png');
        background-repeat: no-repeat;
        background-size: contain;
    }

    .header-nav li {
        font-size: .9rem;
        margin: 0px 1rem;
    }

    .header-navigation{
        margin: 0px;
        height: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .search-input, .email-subscription-input{
        margin-top: 1rem;
        width: 100%;
        font-size: .8rem;
    }

  }